.columns {
  border: 10px black;
}

.carouselll {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.carousel-inner img {
  height: 100vh;
}

.cardds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15rem;
}

.cardds img {
  height: 350px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .cardds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.forms {
  margin-top: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: transparent;
  margin-top: 4rem;
}

.footer img {
  width: 100px;
}

.banner {
  display: flex;
  width: 100vh;
}

.logoo {
  width: 200px;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 5, 82, 1) 24%,
    rgba(1, 7, 93, 1) 68%,
    rgba(0, 0, 0, 1) 91%
  );
}

form button {
  background-color: transparent;
}

.section-card {
  display: flex;
  justify-content: center;
}

.section-card img {
  width: 60vw;
}

.contact-card {
  margin-top: 5rem;
  background-color: transparent !important;
  border: none;
}

.formul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-clases {
  display: grid;
  grid-template-columns: 1 1fr;
}
